<center><h2>Warmachine</h2></center>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a href="#/list/CY/-created"><img src="static/app/img/cygnar.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/ME/-created"><img src="static/app/img/the-protectorate-of-menoth.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/KD/-created"><img src="static/app/img/khador.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/CX/-created"><img src="static/app/img/cryx.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/RT/-created"><img src="static/app/img/the-retribution-of-scyrah.png"></img></a></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"><a href="#/list/CV/-created"><img src="static/app/img/Convergence.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/MC/-created"><img src="static/app/img/mercenaries.png"></img></a></div>
    <div class="col-md-4"></div>
</div>
<center><h2>Hordes</h2></center>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a href="#/list/TR/-created"><img src="static/app/img/trollbloods.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/CO/-created"><img src="static/app/img/circle-orboros.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/SK/-created"><img src="static/app/img/skorne.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/LG/-created"><img src="static/app/img/legion-of-everblight.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/MN/-created"><img src="static/app/img/minions.png"></img></a></div>
    <div class="col-md-1"></div>
</div>
