<center><h2>Warmachine</h2></center>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a href="#/list/CY"><img src="img/cygnar.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/ME"><img src="img/the-protectorate-of-menoth.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/KD"><img src="img/khador.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/CX"><img src="img/cryx.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/RT"><img src="img/the-retribution-of-scyrah.png"></img></a></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"><a href="#/list/CV"><img src="img/Convergence.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/MC"><img src="img/mercenaries.png"></img></a></div>
    <div class="col-md-4"></div>
</div>
<center><h2>Hordes</h2></center>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a href="#/list/TR"><img src="img/trollbloods.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/CO"><img src="img/circle-orboros.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/SK"><img src="img/skorne.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/LG"><img src="img/legion-of-everblight.png"></img></a></div>
    <div class="col-md-2"><a href="#/list/MN"><img src="img/minions.png"></img></a></div>
    <div class="col-md-1"></div>
</div>
